<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Mars Scrape</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
    <header>
        <div id="head" class="container-fluid">
                <div class="row justify-content-center">
                    <h1 style= "font-size: 80px"><b>Mission to Mars</b></h1>
                </div>
                <div class="row justify-content-center"> 
                    <button type="button" class="btn btn-primary btn-lg">Scrape New Data</button>
                </div>
        </div>
    </header>

    <div>
        <h2>Latest Mars News</h2>
        <div>
            {News Title}
        </div>
        <div>
            {News Paragraph}
        </div>
    </div>
    <br>

    <div>
        <h2>Featured Mars Image</h2>
        <div>
            {featured mars image}
        </div>
    </div>

    <div>
        <h5> Mars Facts</h5>
        <div>
            {Comparison tables}
        </div>
    </div>

    <div class="row justify-content-center">
        <h2>
            Mars Hemispheres
        </h2>
    </div>
    <hr width="90%">
    <div id="cards" class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{URL}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{URL}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{URL}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{URL}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>






</body>
</html>